* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.top_page{
    width: 100%;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 0px;
    background: linear-gradient(315deg, #5f2486, #702b9f);
    box-shadow: -11px -11px 26px #5d2485,
                11px 11px 26px #752ca5;
    color: white;
    margin-bottom: 1rem;

    &_nav{
        display: flex;
    }

    &_title{  
        padding-left: 10px;
    }

    &_link{
        color: white;
        padding: 10px;
    }

    &_cartWidget{
        padding-right: 15px;
    }
}
