main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ItemCount{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding-bottom: 20px;
    

    &_modifiers{
        display: flex;
        justify-content: space-between;
        width: 60%;
        padding: 10px;
    }
    
}


.itemContainer{
    width: 20%;
    padding: 0.5rem;
    margin: 1rem;
}

.item{
    color :#22243b;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    transition: transform 0.2s;
    /* cursor: pointer; */ 
    position: relative;
    overflow: hidden;
    &:hover {
        transform: scale(1.05);
    }
}